@import url('https://fonts.googleapis.com/css?family=Mukta');

h1{
	color:#33aef5;
	font-family: 'Mukta', sans-serif;
	border-bottom:10px solid;
}

h2{
	padding-left: 20px;
	color:#33aef5;
	font-family: 'Mukta', sans-serif;
	border-bottom:5px dashed;
	border
}

button{
	padding: 10px 50px;	
	background-color: #ffffff;
	border: 1px;
}

button:hover{
	transition: 0.75s;
	background-color:#33aef5; 
}

